*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bin.* filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zstandard filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
# Audio files - uncompressed
*.pcm filter=lfs diff=lfs merge=lfs -text
*.sam filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
# Audio files - compressed
*.aac filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
data/train.cfr.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.courtlistenerdocketentries.0.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.euro_parl.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.olcmemos.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.congressional_hearings.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.echr.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.bva.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.courtlistenerdocketentries.3.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.courtlisteneropinions.5.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.taxrulings.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.edgar.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.r_legaldvice.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.uscode.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.constitutions.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.edgar.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.ftc_advisory_opinions.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.atticus_contracts.1.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.bva.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.cc_casebooks.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.constitutions.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.euro_parl.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.atticus_contracts.0.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.ijc.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.tos.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.ftc_advisory_opinions.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.oig.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.state_code.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.us_bills.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.courtlistenerdocketentries.2.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.canadian_decisions.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.courtlisteneropinions.15.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.courtlisteneropinions.7.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.uspto_oab.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.courtlistenerdocketentries.1.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.atticus_contracts.2.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.cc_casebooks.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.congressional_hearings.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.nlrb_decisions.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.cfpb_cc.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.founding_docs.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.atticus_contracts.3.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.courtlistenerdocketentries.1.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.courtlisteneropinions.14.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.courtlisteneropinions.2.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.courtlisteneropinions.3.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.eoir.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.fre.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.atticus_contracts.1.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.fre.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.oig.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.atticus_contracts.4.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.courtlisteneropinions.9.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.atticus_contracts.0.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.cfpb_cc.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.federal_register.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.undebates.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.us_bills.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.courtlistenerdocketentries.0.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.courtlisteneropinions.4.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.federal_register.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.frcp.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.courtlisteneropinions.6.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.courtlisteneropinions.11.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.frcp.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.scotus_oral.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.courtlisteneropinions.0.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.courtlisteneropinions.3.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.eurlex.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.courtlisteneropinions.0.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.eurlex.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.uscode.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.cfr.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.courtlisteneropinions.1.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.examoutlines.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.courtlisteneropinions.4.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.courtlisteneropinions.8.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.dol_ecab.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.examoutlines.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.founding_docs.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.ijc.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.nlrb_decisions.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.scotus_oral.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.courtlisteneropinions.13.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.taxrulings.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.courtlisteneropinions.10.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.echr.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.canadian_decisions.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.undebates.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.courtlisteneropinions.1.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.tos.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.courtlisteneropinions.2.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.eoir.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.olcmemos.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.scotus_docket_entries.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.r_legaldvice.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.scotus_docket_entries.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.courtlisteneropinions.5.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.dol_ecab.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.state_code.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.uspto_oab.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.courtlisteneropinions.12.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.acus_reports.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.ed_policy_guidance.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.acus_reports.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.ed_policy_guidance.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.medicaid_policy_guidance.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.doj_guidance.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.hhs_alj.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.irs_legal_advice_memos.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.olc_memos.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.resource_contracts.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.sec.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.doj_guidance.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.sec.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.fmshrc.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.fmshrc.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.hhs_alj.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.irs_legal_advice_memos.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.olc_memos.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/train.resource_contracts.jsonl.xz filter=lfs diff=lfs merge=lfs -text
data/validation.medicaid_policy_guidance.jsonl.xz filter=lfs diff=lfs merge=lfs -text
